.pagination {
  /* background-color: rgb(10,95,132); */
  background-image: linear-gradient(to right, #4b6cb7, #182848);
  height: fill;
  width: fill;
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  border-radius: 0%;
}


.pagination:hover {
  box-shadow: 0px 0px 15px 15px rgba(33,33,33,.2); 
  transition: box-shadow 0.3s ease-in-out;
}
