.sidebar {
    position: fixed;
    padding-top: 10px;
    display: table-cell;
    height:100%;
    background-image: linear-gradient(to top left, #4b6cb7, #182848) !important;
    width: 10vw !important;
    transition: width .25s, transform .25s;
}

.sidebar:hover {
    box-shadow: 15px 15px 15px rgba(33,33,33,.2); 
    transition: box-shadow 0.3s ease-in-out;
}

.sidebar-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: slideaway 200ms;
}

.sidebar-icon {
    margin-left: 10%;
}

.nav {
    display: flex !important;
   width:100%;
   color: white;
   margin-top: 1vh;
   transition: background-color 1s;
}

.sidebar-items .nav {
    display: flex;
    align-items: center; 
   
}

.nav:hover {
    background-color: white;
    color:rgb(33, 39, 51);
    cursor: pointer;
}

.sidebar-collapsed {
    position: fixed;
    padding-top: 10px;
    display: table-cell;
    height:100%;
    /* background-color: rgb(33, 39, 51); */
    background-image: linear-gradient(to top left, #4b6cb7, #182848);
    width: 5vw !important;
    transition: width .5s, transform .5s;
}

.sidebar-collapsed:hover {
    box-shadow: 15px 15px 15px rgba(33,33,33,.2); 
    transition: box-shadow 0.3s ease-in-out;

}

.sidebar-text-collapsed {
    display: none;
}

.collapse-icon {
    float: rigth !important;
    width: 100% !important;
    cursor: pointer;
    color:white;
}

.collapse-icon-collapsed {
    display: none !important;
    
}

.openicon {
    float:right !important;
    width: fill !important;
    cursor: pointer;
    color: white;
}

.openicon-collapsed {
    float:right !important;
    display: none !important;
}

.sidebar-icon-collapsed {
    width: 100% !important;
    justify-content: center !important;
    font-size: 2rem !important;
}

.sidebar-text {
    font-size: large;
}



