.main-view {
	float: left;
	height: auto;
	width: 90vw;
	display: table-cell;
    transition:  left width .25s ease-in-out;
    background-color: white;
}

.main-view-collapsed {
	float: left;
	height: auto;
	width: 95vw;
	display: table-cell;
    transition:  right 300ms linear;
    background-color: white;
}

.div-sidebar {
    width: 10vw;
    float: left;
	display: table-cell;
	height: 100vh;
}

.div-sidebar-collapsed {
    width: 5vw;
    float: left;
	display: table-cell;
	height: 100vh;
}